<div class="bg-2">
<%= form_for(@concepto) do |f| %>
  <% if @concepto.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@concepto.errors.count, "errores") %> impidieron que este concepto se guarde:</h4>
      <ul>
      <% @concepto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-tm">
    <%= f.text_field :name, :placeholder => "Nombre del concepto" %>
  </div>
  <div class="field-tm">
    <%= f.text_field :tarifa, :placeholder => "Tarifa por jugador" %>
  </div>
  <div>
    <%= f.submit "Guardar", class: "btn btn-default" %>
  </div>
<% end %>
</div>
