<% provide(:title, "Jugadores") %>
<div class="bg-2 container-fluid">
<p id="notice"><%= notice %></p>

<h4>Listado de Jugadores</h4>

<table class="center index clearfix">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>No.</th>
      <th>Categoría</th>
      <th colspan="5">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @jugadores.each do |jugador| %>
      <tr>
        <td><%= jugador.nombre %></td>
        <td><%= jugador.numero %></td>
        <td><%= jugador.categoria %></td>
        <td><%= link_to '  ', pagar_path(jugador), class: "glyphicon glyphicon-usd" %></td>
        <td><%= link_to '  ', jugador_path(jugador), class: "glyphicon glyphicon-eye-open" %></td>
        <td><%= link_to '  ', edit_jugador_path(jugador), class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '  ', jugador, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Jugador nuevo', new_jugador_path, class: "btn btn-default cust-button" %>
</div>
