<p id="notice"><%= notice %></p>

<h4>Pagos:</h4>

<table class="center">
  <thead>
    <tr>
      <th>Concepto</th>
      <th>Tarifa</th>
      <th>Pago</th>
      <th>Saldo</th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |key, amount| %>
      <% tarifa = @conceptos.find_by(name: key).tarifa %>
      <tr>
        <td><%= key %></td>
        <td><%= tarifa %></td>
        <td><%= amount %></td>
        <td><%= tarifa - amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
