<div class="bg-2">
<%= form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@categoria.errors.count, "errores") %> impidieron que la categoría se guarde:</h4>
      <ul>
      <% @categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-tm">
    <%= f.text_field :name, :placeholder => "Nombre de la categoría" %>
  </div>
  <div >
    <%= f.submit "Guardar", class: "btn btn-default"%>
  </div>
<% end %>
</div>
