<div class="bg-2 container-fluid">
<p id="notice"><%= notice %></p>

<h4>Listado de Categorías</h4>

<table class="center">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.name %></td>
        <td><%= link_to '', edit_categoria_path(categoria), class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', categoria, class: "glyphicon glyphicon-trash", method: :delete,
          data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Categoría Nueva', new_categoria_path, class: "btn btn-default cust-button" %>
</div>
